<!-- /Users/andrescalderon/Desktop/Valeria/Ascender/proyectoEquipo21/front/src/app/detalle/detalle.component.html -->
<div class="container-lg bg-primary-subtle d-flex flex-column">
    <!-- Botón para volver al inicio -->
    <div class="d-flex justify-content-start mb-3">
        <button class="btn btn-outline-primary" [routerLink]="['/listado']">Volver al inicio</button>
    </div>

    <!-- Detalles del artículo -->
    <div class="row">
        <div class="col-6">
            <img [src]="articuloDetalle.fotografia" alt="Fotografía del artículo" class="img-fluid" />
        </div>
        <div class="col-4">
            <p class="fs-1">{{articuloDetalle.familia}}</p>
            <p class="fs-2">{{articuloDetalle.nombre}}</p>
            <p class="fs-2">Precio: {{articuloDetalle.precioVenta}} €
                <button (click)="agregarCarrito(articuloDetalle.id)" class="btn btn-outline-primary ms-3">📂</button>
            </p>
            <p class="fs-4">{{articuloDetalle.descripcion}}</p>
        </div>

        <!-- Botones de acciones (Eliminar, Activar) -->
        <div class="col-2 ms-auto mt-5">
        </div>
    </div>
</div>
