<div class="container">
    <div class="table">
        <thead class="thead-dark">Artículo:

            <th>Nombre</th>
            <th>Cantidad</th>
            <th>Precio</th>

        </thead>
        <tbody>
            <tr *ngFor="let articulo of listaArticulos">
                <td>{{articulo.nombre}}</td>
                <td>{{articulo.stock}}</td>
                <td>{{articulo.precioVenta}}</td>
            </tr>
        </tbody>
    </div>
    <input type="button" (click)="add()" value="añadir" />
</div>