<div>
    <div class="row justify-content-center">
        <div class="d-flex align-items-center justify-content-center">
            <div class="table">
                <thead class="table-secondary align-items-center">
                    <tr>
                        <th>ID</th>
                        <th>NOMBRE</th>
                        <th>DESCRIPCION</th>
                        <th>FAMILIA</th>
                        <th>FOTOGRAFIA</th>
                        <th>PRECIOVENTA</th>
                        <th>C.BARRAS</th>
                        <th>STOCK</th>
                        <th>CREAR</th>
                        <th>AÑADIR</th>
                        <th>EDITAR</th>
                        <th>ELIMINAR</th>
                    </tr>
                </thead>
                <tbody class="table-info-subtle">
                    <tr>
                        <td><input type="number" id="id" [(ngModel)]="articulo.id" name="id" readonly placeholder="ID autoasignado"></td>
                        <td><input type="text" id="nombre" [(ngModel)]="articulo.nombre" name="nombre"></td>
                        <td><input type="text" id="descripcion" [(ngModel)]="articulo.descripcion" name="descripcion"></td>
                        <td><input type="text" id="familia" [(ngModel)]="articulo.familia" name="familia"></td>
                        <td><input type="text" id="fotografia" [(ngModel)]="articulo.fotografia" name="fotografia"></td>
                        <td><input type="text" id="precioVenta" [(ngModel)]="articulo.precioVenta" name="precioVenta"></td>
                        <td><input type="text" id="codigoBarras" [(ngModel)]="articulo.codigoBarras" name="codigoBarras"></td>
                        <td><input type="text" id="stock" [(ngModel)]="articulo.stock" name="stock" readonly placeholder="Stock de nuevo artículo 0"></td>
                        <td><button (click)="insertar(articulo)" class="btn btn-outline-danger w-100">🗹</button></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr *ngFor="let articulo of listaArticulos">
                        <td>{{articulo.id}}</td>
                        <td>{{articulo.nombre}}</td>
                        <td>{{articulo.descripcion}}</td>
                        <td>{{articulo.familia}}</td>
                        <td>{{articulo.fotografia}}</td>
                        <td>{{articulo.precioVenta}} €</td>
                        <td>{{articulo.codigoBarras}}</td>
                        <td>{{articulo.stock}}</td>
                        <td></td>
                        <td> <button (click)="agregarCarrito(articulo.id)" class="btn btn-outline-success w-100">📂</button></td>
                        <td> <button (click)="editar(articulo)" class="btn btn-outline-info w-100">𓂃🖉</button></td>
                        <td><button (click)="borrar(articulo)" class="btn btn-outline-danger w-100">Eliminar</button> </td>
                    </tr>

                </tbody>
            </div>
        </div>
    </div>
</div>