<div>
    <div class="row justify-content-center">
        <!-- Div for Image (8 columns) -->
        <div class="d-flex align-items-center justify-content-center">
            <div class="table">
                <thead class="table-secondary">
                    <tr>
                        <th>ID</th>
                        <th>NOMBRE</th>
                        <th>DESCRIPCION</th>
                        <th>FAMILIA</th>
                        <th>FOTOGRAFIA</th>
                        <th>PRECIOVENTA</th>
                        <th>PRECIOCOMPRA</th>
                        <th>CANTIDAD</th>
                        <th>CREAR</th>
                        <th>AÑADIR</th>
                        <th>EDITAR</th>
                        <th>ELIMINAR</th>
                    </tr>
                </thead>
                <tbody class="table-info-subtle">
                    <tr>
                        <td><input type="number" id="id" [(ngModel)]="articulo.id" name="id" readonly></td>
                        <td><input type="text" id="nombre" [(ngModel)]="articulo.nombre" name="nombre"></td>
                        <td><input type="text" id="descripcion" [(ngModel)]="articulo.descripcion" name="descripcion"></td>
                        <td><input type="text" id="familia" [(ngModel)]="articulo.familia" name="familia"></td>
                        <td><input type="text" id="fotografia" [(ngModel)]="articulo.fotografia" name="fotografia"></td>
                        <td><input type="text" id="precioVenta" [(ngModel)]="articulo.precioVenta" name="precioVenta"></td>
                        <td><input type="text" id="precioCompra" [(ngModel)]="articulo.precioCompra" name="precioCompra"></td>
                        <td><input type="text" id="stock" [(ngModel)]="articulo.stock" name="stock" readonly></td>
                        <td><button (click)="insertar(articulo)">insertar</button></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr *ngFor="let articulo of listaArticulos">
                        <td>{{articulo.id}}</td>
                        <td>{{articulo.nombre}}</td>
                        <td>{{articulo.descripcion}}</td>
                        <td>{{articulo.familia}}</td>
                        <td>{{articulo.fotografia}}</td>
                        <td>{{articulo.precioVenta}}</td>
                        <td>{{articulo.precioCompra}} €</td>
                        <td>{{articulo.stock}}</td>
                        <td><button (click)="insertar(articulo)">*</button></td>
                        <td> <button (click)="agregarCarrito(articulo.id)">+</button></td>
                        <td> <button (click)="editar(articulo)">𓂃🖊</button></td>
                        <td><button (click)="borrar(articulo)">Eliminar</button> </td>
                    </tr>

                </tbody>
            </div>
        </div>
    </div>
</div>